* {
  margin: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

button {
  padding: 2%;
  margin: 5%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  gap: 10px;
  margin-top: 20px;

}

.claro {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}
.button_compra{
    display: flex;
    justify-content: center;
}

.btn_comprar {
  padding: 10px 20px;
  font-size: 16px;
}

.valor_total {
  display: flex;
  justify-content: center;
  background-color: green;
  color: white;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 1vh;
  width: 100%;
}
