*{
    margin: 0;
}
body{
    background-image: url(img/fondo_contacto.jpg);
    background-size: 100%;
    background-position: center;
    display: flex;
    justify-content: center;
}

input, textarea{
    width: 50vh;
    border-radius: 5px;
}
button{
    margin-top: 4vh;
    background-color: green;
    border-radius: 15px;
    width: 25vh;
    height: 5vh;
    border-radius: 5%;
}
form{
    opacity: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.formulario{
    background-color: antiquewhite;
    opacity: 90%;
    margin: 2vh;
    padding: 4vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 50vh;
}