*{
    margin: 0;
}
body{
    background-color: aqua;
    display: flex;
    justify-content: center;
}
input, textarea{
    width: 50vh;
}
button{
    background-color: blueviolet;
    width: 25vh;
    height: 5vh;
    border-radius: 5%;
}
form{
    justify-content: center;
}
.formulario{
    background-color: antiquewhite;
    margin: 2vh;
    padding: 4vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 50vh;
}