* {
    margin: 0;
}

body {
    background-color: darkcyan;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 40vh;
    background-color: #f0f0f0;
    background-image: url(img/prueba_banner.webp)
}

header img {
    height: 20vh;
}

nav {
    display: flex;
    gap: 3vh;
}

.btn_nav {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    background-color: #ddd;
    border-radius: 5px;
}

.btn_nav:hover {
    background-color: #ccc;
}

footer {
    background-color: brown;
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    width: 90%;
    margin: 3vh;
}

h6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin-bottom: 1vh;
}

span {
    margin: 0.5vh;
    font-size: 16px;
}

p {
    margin: 3vh;
    font-family: Arial, Helvetica, sans-serif
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: auto;
}

.imagen_oferta img {
    width: 100%;
    margin: 0;
    margin-top: 2vh;
}

.contenido_home {
    background-color: aliceblue;
    border-radius: 2%;
    margin: 2vh;
    opacity: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;
}